version: "3.4"

x-common-variables: &common-variables
  MYSQL_USER: root
  MYSQL_PASSWORD: root
  MYSQL_DATABASE: transporter

services:
  mysql:
    image: mysql:5.7
    environment:
      <<: *common-variables
      MYSQL_HOST: localhost
      MYSQL_ROOT_PASSWORD: root
    ports:
      - 3306:3306
    restart: unless-stopped
  phpmyadmin:
    depends_on:
      - mysql
    image: phpmyadmin/phpmyadmin
    environment:
      PMA_HOST: mysql
    links:
      - mysql:mysql
    ports:
      - 8080:80
    restart: always
  api:
    image: shoppinpal/node:6.10
    working_dir: /apps/transporter
    command: node_modules/grunt/bin/grunt docker
    restart: always
    ports:
      - "3000:3000"
    volumes:
      - .:/app/transporter
    depends_on:
      - es
      - workerdb